{% extends "main_page.html" %}
{% block Sekme_adı %}
Hakkımda
{% endblock  %}
{% block sayfa_rengi %}
<style>
    body{
        background-color: #d6d6c2
        }
</style>
{% endblock  %}
{% block govde %}
<h5>Ben Kimim</h5>
<p>Ben Armağan. Kim olduğumu aslına bakarsanız ben de çok bilmiyorum. Küçüklüğümden beri kendimi ve hayatın anlamını sorguluyorum.
Bu çabalarım bana hayatın ne kadar anlamsız olduğunu kabul ettirse de insan olmanın manasının üstün insan olmak yolunda verilen mücadeleye 
eşit olduğunu söyledi. Ben de bu yolda ilerlemeye çalışıyorum. Kafamdaki düşünceleri size kabul ettirme gibi bir amacım yok. Lakin anlamadığınız
şeyleri anlamaya çalışırsanız o zaman Dünya'nın değişeceğini düşünüyorum. İletişim bölümünden benimle iletişime geçebilirsiniz. </p> 
{% endblock govde %}